/* Fonts */

@font-face {
  font-family: "Gilroy", Arial, sans-serif;
    src: url(fonts/gilroylight.woff2) format("woff2"),
    url(fonts/gilroylight.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Gilroy", Arial, sans-serif;
  src: url(fonts/gilroyextrabold.woff2) format("woff2"),
  url(fonts/gilroyextrabold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", Arial, sans-serif;
  src: url(fonts/opensans.woff2) format("woff2"),
  url(fonts/opensans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", Arial, sans-serif;
  src: url(fonts/opensanslight.woff2) format("woff2"),
  url(fonts/opensanslight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;

  --status: #f6dada;
}

/* Global */

.page-body {
  min-width: 1440px;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

}

.container {
  display: grid;
}

/* Main-navigation */

.main-navigation {
 display: flex;
 margin-top: 40px;
 margin-right: 140px;
 margin-right: 140px;
}

.main-navigation::before {
  display: flex;
  content: "";
  width: 1160px;
  height: 300px;
  background-color: var(--special-yellow-light);
  z-index: -1;
  position: absolute;
  margin: 40px 140px 50px 140px;
}

.main-logo {
  width: 163.3px;
  height: 34.96px;
  margin-top: 20px;
  margin-bottom: 29px;
  margin-left: 200px;
  margin-right: 1077px;
  position: absolute;
}

.main-logo:hover,
.account-navigation-item:hover a,
.site-navigation-item:hover a {
  opacity: 0.6;
}

.main-logo:active,
.account-navigation-item:active,
.site-navigation-item:active {
  opacity: 0.3;
}

.account-navigation-list {
  list-style: none;
  display: inline;
  margin: 0;
  margin-top: 84px;
 }

.account-navigation-item,
.site-navigation-item {
  display: inline;
}

.site-navigation-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  list-style: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 154px;
}

.search-bar input {
  background-color: transparent;
  border: transparent;
  margin: 0;
  padding: 0;
  margin-top: 84px;
  margin-left: 238px;
}

/* Slider */


.slider-item-quadcopter,
.slider-item-watch,
.slider-item-selfiestick {
  display: grid;
  margin: 0 auto;
  width: 1160px;
  grid-template-columns: 600px 1fr;
  align-content: start;
}

.slider-item-quadcopter img {
  grid-column: 1/2;
}

.grid-column-description {
  grid-column: 2/-1;
}

.slider-number {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 220px;
  color: var(--basic-white);
  background-color: var(--special-yellow-light);
  /* я знаю, что у номера нет бэкграунд цвета и он двигаться будет, сейчас сделала, чтобы видно было */
}

.slider-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 220px;
}

.button::before {
  display: inline-block;
  content: "";
  width: 220px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 0px;
 }

 .button:hover::before {
  height: 40px;
  top: -9px;
  left: 0px;
 }

.slider-items-table {
  border-collapse: collapse;
  text-align: left;
  letter-spacing: 0.1em;
  background-color: transparent;
}

.slider-items-table-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.slider-items-table-description {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
}

/* Popular categories */

.categories-list {
  display: grid;
  width: 1160px;
  gap: 40px;
  margin: 0 auto;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: auto;
  text-align: center;
  vertical-align: middle;
}

.categories-item  {
 list-style: none;
}

.categories-item-bg-color:focus img {
  opacity: 0.3;
}

.categories-item-bg-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  padding-left: 0;
  margin-bottom: 38px;
  background-color: var(--special-yellow-light);
}

.categories-item:hover .categories-item-bg-color,
.categories-item:focus .categories-item-bg-color {
  background-color: var(--special-yellow-dark);
}

.categories-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

/* Services */

.delivery-service,
.warranty-service,
.credit-service {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto auto;
}

.service-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  grid-column: 2/-1;
  grid-row: 1/2;
}

.delivery-service p {
  line-height: 30px;
  letter-spacing: 0.1em;
  grid-column: 2/-1;
  grid-row: 2/-1;
}

.slider-button-list {
  list-style: none;
  grid-column: 1/2;
  grid-row: 1/3;

}

.delivery-button,
.warranty-button,
.credit-button {
  padding-bottom: 39px;
}

/* Partners */

.partners-list {
  list-style: none;
  width: 1160px;
  margin: 0 auto;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
  gap: 40px;
  margin-bottom: 90px;
}

/* Info Blocks */

.grid-info {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 86px;
}

.block-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.block-button {
  margin-top: 85px;
}

.block-button::before {
  display: inline-block;
  content: "";
  width: 260px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  position: absolute;
  z-index: -1;
  top: 8px;
  left: -20px;
}

.transport-companies-list {
  list-style-image: url(img/list-image.svg);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.about-us-block p,
.contacts-block p {
  line-height: 28px;
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.grid-footer {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding-left: 0;
  grid-template-columns: 1fr 430px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer-logo {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 64px;
}

.footer-address {
  grid-column: 1/2;
  grid-row: 2/3;
}

.main-footer a {
  color: var(--basic-white);
}

.footer-site-navigation {
grid-column: 2/3;
grid-row: 2/3;
}

.footer-account-navigation {
  grid-column: 3/-1;
  grid-row: 1/2;
  text-align: center;

}


.footer-socials {
  grid-column: 2/3;
  grid-row: 3/-1;
  text-align: center;
}

.footer-socials-item {
  display: inline;
}

.footer-phone {
  grid-column: 3/-1;
  grid-row: 2/3;
  text-align: center;
}

.footer-html-academy-logo {
  grid-column: 3/-1;
  grid-row: 3/-1;
  text-align: center;
}

.footer-site-navigation-list {
  color: var(--basic-white);
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.footer-account-navigation-item,
.footer-site-navigation-item {
  display: inline;
}

.footer-site-navigation-list,
.footer-account-navigation-list,
.footer-socials-list {
  list-style: none;
}

.message label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

/* Catalog Page */

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.1;
}

/* Filter */

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 17.15px;
  letter-spacing: 0.1em;
}

.filter ul {
  list-style: none;
  line-height: 19.07px;
  font-size: 14px;
}

.filter-input-checkbox:hover {
  opacity: 0.6;;
}

.filter-input-radio:hover {
  opacity: 0.6;;
}

.filters{
  background-color: var(--basic-grey-light);
}

.show-button {
  z-index: 1;
}

.sorting-list {
  list-style: none;
  line-height: 19.07px;
  font-size: 14px;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 0.05em;
}

.price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: 0.05em;
}

.pages {
  background-color: var(--basic-grey-light);
}

.pages-list {
  list-style: none;
}

.pages-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.pages-list a:not([href]) {
  opacity: 1;
}

.pages-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19.6px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

