/* Fonts */

@font-face {
  font-family: "Gilroy", Arial, sans-serif;
    src: url(fonts/gilroylight.woff2) format("woff2"),
    url(fonts/gilroylight.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Gilroy", Arial, sans-serif;
  src: url(fonts/gilroyextrabold.woff2) format("woff2"),
  url(fonts/gilroyextrabold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", Arial, sans-serif;
  src: url(fonts/opensans.woff2) format("woff2"),
  url(fonts/opensans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", Arial, sans-serif;
  src: url(fonts/opensanslight.woff2) format("woff2"),
  url(fonts/opensanslight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;

  --status: #f6dada;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

}

.container {
  display: grid;
}

/* Main-navigation */

.main-navigation {
  background-color: var(--special-yellow-light);
}

.main-logo:hover,
.account-navigation-item:hover a,
.site-navigation-item:hover a {
  opacity: 0.6;
}

.main-logo:active,
.account-navigation-item:active,
.site-navigation-item:active {
  opacity: 0.3;
}

.account-navigation-list {
  list-style: none;
 }

.site-navigation-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  list-style: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.search-bar input {
  background-color: transparent;
  border: transparent;
}

/* Slider */

.slider-number {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 220px;
  color: var(--basic-white);
  background-color: var(--special-yellow-light);
  /* я знаю, что у номера нет бэкграунд цвета и он двигаться будет, сейчас сделала, чтобы видно было */
}

.slider-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 220px;
}

.button::before {
  display: inline-block;
  content: "";
  width: 220px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 0px;

 }

 .button:hover::before {
  height: 40px;
  top: -9px;
  left: 0px;
 }

.slider-items-table {
  border-collapse: collapse;
  text-align: left;
  letter-spacing: 0.1em;
  background-color: transparent;
}

.slider-items-table-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.slider-items-table-description {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
}

/* Popular categories */

.categories-list {
  display: grid;
  width: 1160px;
  gap: 40px;
  margin: 0 auto;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 160px auto;
  text-align: center;
  vertical-align: middle;
  background-color: var(--special-yellow-light);
}

.categories-item  {
 list-style: none;
 display: grid;
}

.categories-item img {

}

.categories-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

/* Services */

.services::before{
  display: inline-block;
  content: "";
  width: 100%;
  height: 288px;
  background-color: var(--basic-grey-light);
  position: relative;
}

.service-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-name p {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.slider-button-list {
  list-style: none;
}

.partners-list {
  list-style: none;
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
}

.block-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.block-button::before {
  display: inline-block;
  content: "";
  width: 260px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 0px;
}

.transport-companies-list {
  list-style-image: url(img/list-image.svg);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.about-us-block p,
.contacts-block p {
  line-height: 28px;
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.main-footer a {
  color: var(--basic-white);
}

.footer-site-navigation-list {
  color: var(--basic-white);
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-site-navigation-list,
.footer-account-navigation-list,
.footer-socials-list {
  list-style: none;
}

.message label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

/* Catalog Page */

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.1;
}

/* Filter */

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 17.15px;
  letter-spacing: 0.1em;
}

.filter ul {
  list-style: none;
  line-height: 19.07px;
  font-size: 14px;
}

.filter-input-checkbox:hover {
  opacity: 0.6;;
}

.filter-input-radio:hover {
  opacity: 0.6;;
}

.filters{
  background-color: var(--basic-grey-light);
}

.show-button {
  z-index: 1;
}

.sorting-list {
  list-style: none;
  line-height: 19.07px;
  font-size: 14px;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 0.05em;
}

.price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: 0.05em;
}

.pages {
  background-color: var(--basic-grey-light);
}

.pages-list {
  list-style: none;
}

.pages-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.pages-list a:not([href]) {
  opacity: 1;
}

.pages-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19.6px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

