/* Fonts */

@font-face {
  font-family: "Gilroy", Arial, sans-serif;
    src: url("fonts/gilroylight.woff2") format("woff2"),
    url("fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Gilroy", Arial, sans-serif;
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
  url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", Arial, sans-serif;
  src: url("fonts/opensans.woff2") format("woff2"),
  url("fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans", Arial, sans-serif;
  src: url("fonts/opensanslight.woff2") format("woff2"),
  url("fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;

  --status: #f6dada;
}

/* Global */

.page-body {
  min-width: 1160px;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: grid;
}

/* Main-navigation */

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-navigation {
  display: grid;
  grid-template-columns: 600px 280px 280px;
  grid-template-rows: 75px 75px 150px;
  background-color: var(--special-yellow-light);
  height: 300px;
  margin-top: 40px;
  position: relative;
}

.main-navigation-catalog {
  height: 186px;
}

.main-logo {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 164px;
  height: 35px;
  top: -18px;
  left: 60px;
  position: absolute;
}

.search-bar {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 44px;
  margin-left: 98px;
  position: relative;
  display: flex;
}

.search-bar input {
  background-color: transparent;
  border: transparent;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 322px;
  margin-top: -8px;
  outline: none;
  opacity: 0.3;
}

.search-button {
  text-transform: uppercase;
  width: 80px;
  height: 46px;
  border: 2px solid var(--basic-black);
  margin-top: -14px;
  cursor: pointer;
  display: none;
}

.search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active {
  color: #4c4c4c;
  background-color: var(--basic-black);
}

.search-bar input:hover {
  opacity: 0.6;
}

.search-bar input:focus + button {
  display: block;
}

.search-button::before {
  display: block;
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  background-color: var(--basic-black);
  right: 100px;
  bottom: -1px;
}

.search-label::before {
  display: block;
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 5px;
  left: -38px;
  background-image: url("../img/icon-search.svg");
}

.main-logo:hover, .footer-logo img:hover,
.account-navigation-item a:hover,
.site-navigation-item a:hover,
.footer-html-academy-logo img:hover,
.footer-site-navigation-item a:hover {
  opacity: 0.6;
}

.main-logo:active, .footer-logo img:active,
.account-navigation-item a:active,
.site-navigation-item a:active,
.footer-html-academy-logo img:active,
.footer-site-navigation-item a:active {
  opacity: 0.3;
}

.account-navigation-list {
  grid-column: 2/-1;
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 44px;
}

.account-navigation-item a {
  padding-left: 24px;
}

.account-navigation-item.login {
  position: relative;
}

.account-navigation-item.login::before {
  display: block;
  position: absolute;
  content: "";
  width: 9px;
  height: 10px;
  top: 6px;
  left: 2px;
  background-image: url("../img/icon-account.svg");
}

.account-navigation-item.compare {
  margin-left: auto;
  position: relative;
}

.account-navigation-item.compare::before {
  display: block;
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 6px;
  left: 2px;
  background-image: url("../img/icon-compare.svg");
}

.account-navigation-item.cart {
  margin-left: 45px;
  margin-right: 60px;
  position: relative;
}

.account-navigation-item.cart::before {
  display: block;
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 6px;
  left: 2px;
  background-image: url("../img/icon-cart.svg");
}

.account-navigation-item.exit {
  margin-left: 20px;
  opacity: 0.3;
}

.account-navigation-item.account-name {
  position: relative;
}

.account-name a {
  padding-left: 24px;
}

.exit a {
  padding: 0;
}

.account-navigation-item.account-name::before {
  display: block;
  position: absolute;
  content: "";
  width: 9px;
  height: 10px;
  top: 6px;
  background-image: url("../img/icon-account.svg");
}

.site-navigation-list {
  grid-column: 1/-1;
  grid-row: 2/3;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  list-style: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  flex-wrap: no-wrap;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-top: 39px;
}

.submenu-catalog a {
  padding-right: 32px;
}

.site-navigation-item.submenu-catalog {
  margin-right: auto;
  position: relative;
  width: 542px;
  z-index: 2;
}

.site-navigation-item.submenu-catalog::after {
  display: block;
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-plus.svg");
  left: 230px;
  top: 0;
}

.site-navigation-item.delivery {
  margin-right: 40px;
}

.site-navigation-item.warranty {
  margin-right: 100px;
}

.site-navigation-item.contacts {
  margin-right: 60px;
}

.drop-down-menu {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-transform: none;
  letter-spacing: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 540px;
  height: 134px;
  padding-top: 30px;
  background-color: var(--special-yellow-light);
  padding-left: 60px;
  margin-left: -60px;
  display: none;
}

.catalog-dropdown {
  padding-right: 560px;
  background-color: var(--special-yellow-light);
  /* display: none; */
}

.drop-down-item {
  padding-bottom: 20px;
}

.drop-down-item.smart-watch {
  padding-bottom: 72px;
}

.drop-down-menu a:hover {
  opacity: 0.6;
}

.drop-down-menu a:active,
.drop-down-menu a:focus {
  opacity: 0.3;
}

.submenu-catalog:hover ul {
  display: flex;
}

/* Slider */


.slider-item-quadcopter,
.slider-item-watch,
.slider-item-selfiestick {
  display: grid;
  margin: 0 auto;
  width: 1160px;
  grid-template-columns: 600px 1fr;
  align-content: start;
  position: relative;
}

.slider-item-quadcopter::before {
  display: block;
  content: "01";
  position: absolute;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 220px;
  color: var(--basic-white);
  right: 50px;
  top: -160px;
  z-index: 0;
}

.slider-item-watch::before {
  display: block;
  content: "02";
  position: absolute;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 220px;
  color: var(--basic-white);
  right: 50px;
  top: -160px;
  z-index: 0;
}

.slider-item-selfiestick::before {
  display: block;
  content: "03";
  position: absolute;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 220px;
  color: var(--basic-white);
  right: 50px;
  top: -160px;
  z-index: 0;
}

.slider-item-quadcopter::after,
.slider-item-watch::after,
.slider-item-selfiestick::after {
  display: block;
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  top: -94px;
  right: 458px;
}

.slider-item-quadcopter img {
  grid-column: 1/2;
  margin-top: -63px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.slider-item-selfiestick img {
  grid-column: 1/2;
  margin-top: -98px;
  margin-left: 89px;
  margin-bottom: 30px;
}

.slider-item-watch img {
  grid-column: 1/2;
  margin-top: -98px;
  margin-left: 116px;
  margin-bottom: 30px;
}

.grid-column-description {
  grid-column: 2/-1;
  z-index: 1;
}

.slider-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-top: -55px;
  margin-bottom: 25px;
}

.slider-item-watch .slider-caption {
  margin-top: -35px;
}

.lil-description {
  margin: 0;
  padding: 0;
}

.slider-item-selfiestick,
.slider-item-watch {
  display: none;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 220px;
  padding: 10px;
  cursor: pointer;
}

.button::before {
  display: inline-block;
  content: "";
  width: 220px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  position: absolute;
  z-index: -1;
  top: 18px;
  left: 4px;
}

.button:hover::before {
  height: 40px;
  top: 0;
  left: 5px;
}

.button:active {
  color: #A88A20;
}

.delivery-button:active,
.warranty-button:active,
.credit-button:active {
  color: var(--special-yellow-light);
}

.grid-column-description .button {
  margin: 49px -8px;
}

.slider-dots-list {
  position: absolute;
  list-style: none;
  top: 192px;
  right: 72px;
  display: flex;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.slider-item-selfiestick .slider-dots-list {
  top: 233px;
}

.slider-item-watch .slider-dots-list {
  top: 246px;
}

.slider-dots-item {
  position: relative;
  margin-right: 30px;
}

.slider-dots-item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.slider-dots-item a:not([href])::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  top: 3px;
  left: 3px;
}

.pages-list a:not([href])

.slider-items-table {
  border-collapse: collapse;
  text-align: left;
  letter-spacing: 0.1em;
  background-color: transparent;
}

.slider-items-table-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-right: 80px;
  padding-top: 15px;
}

.slider-items-table-description {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
}

/* Popular categories */

.categories-list {
  display: grid;
  width: 1160px;
  gap: 40px;
  margin: 0 auto;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: auto;
  text-align: center;
  vertical-align: middle;
  margin-top: 127px;
  margin-bottom: 69px;
}

.categories-item  {
 list-style: none;
}

.categories-item-bg-color:focus img {
  opacity: 0.3;
}

.categories-item-bg-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  padding-left: 0;
  margin-bottom: 38px;
  background-color: var(--special-yellow-light);
}

.categories-item:hover .categories-item-bg-color,
.categories-item:focus .categories-item-bg-color {
  background-color: var(--special-yellow-dark);
}

.categories-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

/* Services */

.services-conteiner {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 400px;
  position: relative;
}

.services {
  position: relative;
}

.services::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 288px;
  background-color: var(--basic-grey-light);
  z-index: -3;
  top: 115px;
}

.warranty-service,
.credit-service {
  display: none;
}

.delivery-service::before {
  display: block;
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  background-image: url("../img/icon-delivery.svg");
  right: 0;
  top: 86px;
}

.service-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  grid-column: 2/-1;
  grid-row: 1/2;
  margin-top: 86px;
  margin-bottom: 40px;
}

.delivery-service p,
.warranty-service p,
.credit-service p {
  line-height: 30px;
  letter-spacing: 0.1em;
  grid-column: 2/-1;
  grid-row: 1/2;
}

.warranty-service::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 171px;
  height: 195px;
  background-image: url("../img/icon-warranty.svg");
  right: 0;
  top: 86px;
}

.credit-service::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 156px;
  height: 188px;
  background-image: url("../img/icon-credit.svg");
  right: 0;
  top: 86px;
}

.slider-button-list {
  list-style: none;
  padding: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 95px;
  position: relative;
}

.slider-button-list::before {
  display: block;
  content: "";
  position: absolute;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
  top: -73px;
  left: 277px;
}

.delivery-button,
.warranty-button,
.credit-button {
  padding-bottom: 28px;
}

.delivery-button:active::before {
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
  width: 277px;
  height: 40px;
}

/* Partners */

.partners-list {
  list-style: none;
  width: 1160px;
  margin: 0 auto;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
  gap: 40px;
  margin-top: 90px;
  margin-bottom: 90px;
}

.partners-dji, .partners-sp,
.partners-gopro, .partners-vive {
  position: relative;
  filter: grayscale(100%);
  opacity: 40%;
}

.partners-dji:hover,
.partners-dji:active,
.partners-dji:focus {
  display: block;
  width: 260px;
  height: 100px;
  filter: none;
  opacity: 100%;
}

.partners-sp:hover,
.partners-sp:active,
.partners-sp:focus {
  display: block;
  width: 260px;
  height: 100px;
  filter: none;
  opacity: 100%;
}

.partners-gopro:hover,
.partners-gopro:active,
.partners-gopro:focus {
  display: block;
  width: 260px;
  height: 100px;
  filter: none;
  opacity: 100%;
}

.partners-vive:hover,
.partners-vive:active,
.partners-vive:focus {
  display: block;
  width: 260px;
  height: 100px;
  filter: none;
  opacity: 100%;
}

/* Info Blocks */

.grid-info {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 70px;
}

.block-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 53px;
  margin-bottom: 43px;
}

.block-button {
  margin-top: 73px;
  margin-left: 13px;
}

.block-button::before {
  display: inline-block;
  content: "";
  width: 260px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  position: absolute;
  z-index: -1;
  top: 18px;
  left: -10px;
}

.block-button:hover::before {
  left: -12px;
}

.transport-companies-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: 32px;
}

.transport-companies-item {
  list-style-image: url("../img/list-image.svg");
}

.transport-companies-item:not(:last-child) {
  margin-bottom: 12px;
}

.about-us-block p {
  margin-bottom: 48px;
}

.about-us-description {
  margin-bottom: 66px;
}

.about-us-block p,
.contacts-block p {
  line-height: 28px;
}

.about-us-block,
.contacts-block {
  position: relative;
}

.contacts-block {
  margin-left: 20px;
}

.contacts-block img {
  margin-top: -2px;
}

.about-us-block::before,
.contacts-block::before {
  display: block;
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  height: 324px;
}

.grid-footer {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding-left: 0;
  grid-template-columns: 1fr 430px 1fr;
  grid-template-rows: 108px 108px 108px;
  position: relative;
}

.grid-footer::before {
  display: block;
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
  top: 236px;
}

.footer-logo {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  width: 163px;
  margin-top: 54px;
}

.footer-address {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
}

.main-footer a {
  color: var(--basic-white);
}

.footer-site-navigation {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  margin-bottom: 30px;
}

.footer-account-navigation {
  grid-column: 2/-1;
  grid-row: 1/2;
  text-align: end;
  align-self: center;
  margin-top: 10px;
}

.footer-socials {
  grid-column: 2/3;
  grid-row: 3/-1;
  text-align: center;
  align-self: center;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}

.footer-socials-item {
  margin-right: 20px;
}

.footer-socials-item:last-of-type {
  margin: 0;
}

.footer-socials-item img {
  opacity: 0.6;
}

.footer-socials-item img:hover {
  opacity: 1;
}

.footer-socials-item img:active {
  opacity: 0.3;
}

.footer-phone {
  grid-column: 3/-1;
  grid-row: 2/3;
  text-align: end;
  align-self: center;
  margin-bottom: 44px;
}

.footer-html-academy-logo {
  grid-column: 3/-1;
  grid-row: 3/-1;
  text-align: end;
  align-self: center;
  margin-bottom: 64px;
}

.footer-site-navigation-list {
  color: var(--basic-white);
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-account-navigation-item a {
  padding-left: 20px;
  opacity: 0.7;
}

.footer-account-navigation-item a:hover {
  opacity: 1;
}

.footer-account-navigation-item a:active {
  opacity: 0.3;
}

.footer-account-navigation-list {
  justify-content: flex-end;
}

.footer-site-navigation-list,
.footer-account-navigation-list,
.footer-socials-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-account-navigation-item:not(:last-child) {
  margin-right: 48px;
}

.footer-account-navigation-item.login {
  position: relative;
}

.footer-account-navigation-item.login::before {
  display: block;
  content: "";
  position: absolute;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-login.svg");
  top: 4px;
  left: 0;
}

.footer-account-navigation-item.account-name {
  margin-right: 0;
  position: relative;
}

.footer-account-navigation-item.account-name::before {
  display: block;
  content: "";
  position: absolute;
  width: 9px;
  height: 10px;
  background-image: url("../img/icon-account-yellow.svg");
  top: 6px;
  left: 0;
}

.footer-account-navigation-item.compare,
.footer-account-navigation-item.cart {
  position: relative;
}

.footer-account-navigation-item.compare::before {
  display: block;
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-image: url("../img/icon-compare-yellow.svg");
  top: 6px;
}

.footer-account-navigation-item.cart::before {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-cart-yellow.svg");
  top: 6px;
  left: 0;
}

.footer-account-navigation-item.cart:hover::before,
.footer-account-navigation-item.compare:hover:before,
.footer-account-navigation-item.account-name:hover:before,

.account-navigation-item.login:hover:before,
.account-navigation-item.compare:hover:before,
.account-navigation-item.cart:hover:before,
.account-navigation-item.account-name:hover:before
{
  opacity: 0.6;
}

.footer-account-navigation-item.cart:active::before,
.footer-account-navigation-item.compare:active:before,
.footer-account-navigation-item.account-name:active:before,

.account-navigation-item.login:active:before,
.account-navigation-item.compare:active:before,
.account-navigation-item.cart:active:before,
.account-navigation-item.account-name:active:before {
  opacity: 0.3;
}

/* PopUps */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  z-index: 6;
}

.modal-message {
  display: none;
  top: 80px;
  bottom: auto;
  width: 760px;
  padding: 92px 100px 70px 100px;
}

.modal-message form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-message label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.modal-message input {
  width: 340px;
  height: 50px;
  border: none;
  padding-left: 20px;
  background-color: #f2f2f2;
  margin-top: 10px;
}

.modal-message textarea {
  padding-left: 20px;
  padding-top: 16px;
  width: 740px;
  border: none;
  background-color: #f2f2f2;
  margin-top: 10px;
}

.modal-message input:hover,
.modal-message textarea:hover {
  background-color: #eaeaea;
}

.modal-message input:focus,
.modal-message textarea:focus {
  outline: none;
  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow-light);
}

.modal-message input:invalid,
.modal-message textarea:invalid {
  outline: none;
  border: none;
  background-color: #f6dada;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 13px;
  width: 30px;
  height: 3px;
  background-color: var(--basic-white);
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.modal-map {
  display: none;
  width: 960px;
  height: 573px;
}

.modal-map iframe {
  border: none;
}

/* Catalog Page */

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  margin-left: 60px;
  margin-top: 44px;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: 60px;
  margin-bottom: 50px;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 19px;
  margin-right: 40px;
  position: relative;
}

.breadcrumbs-item a {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) a:hover {
  opacity: 0.6;
}

.breadcrumbs-item a:active {
  opacity: 0.1;
}

.breadcrumbs-item.first::before {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 13px;
  left: 66px;
  top: 4px;

  background-image: url("../img/icon-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.breadcrumbs-item.second::before {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 13px;
  left: 121px;
  top: 4px;

  background-image: url("../img/icon-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

/* Catalog Page Grid */

.page-catalog {
  min-width: 1160px;
  display: grid;
  grid-template-columns: 328px 760px;
  grid-template-rows: 70px auto 70px;
  column-gap: 72px;
  margin-bottom: 78px;
}

/* Filter */

.filter-group {
  grid-column: 1/2;
  grid-row: 1/-1;
  margin-left: 60px;
}

.filter {
  position: relative;
}

.filter::before {
  display: block;
  content: "";
  position: absolute;
  background-color: var(--basic-grey-light);
  height: 1300px;
  width: 1500px;
  top: -86px;
  right: 0;
  z-index: -1;
}

.filter::after {
  display: block;
  content: "";
  position: absolute;
  background-color: #dcdcdc;
  height: 70px;
  width: 1500px;
  top: -156px;
  right: 0;
  z-index: -1;
}

.filter-group h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 111px;
  margin-top: 25px;
}

.filter-option {
  padding: 0;
  margin-bottom: 20px;
  padding-left: 42px;
  width: min-content;
}

.filter fieldset {
  padding: 0;
  margin-top: 17px;
  border: none;
}

.fieldset-bluetooth {
  margin-top: 33px;
}

.filter legend {
  position: relative;
}

.filter legend::before {
  display: block;
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  top: -14px;
  background-color: var(--basic-black);
}

/* Range Filter */

.range-filter{
  width: 200px;
  height: 45px;
  margin-bottom: 37px;
}

.range-controls {
  position: relative;
  height: 20px;
  margin-bottom: 8px;
  padding-top: 9px;
}

.range-controls .scale {
  height: 2px;
  background-color: #B7B7B7;
}

.range-controls .bar {
  height: 2px;
  width: 60%;
  background-color: var(--special-green);
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #c4c4c4;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 102px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.price-controls input {
  background-color: transparent;
  border: none;
  width: 55px;
}

.filter ul {
  padding: 0;
  margin: 0;
  margin-top: 3px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -37px;
  width: 14px;
  height: 11px;
  background-image: url("../img/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -4px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -34px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-option:hover {
  opacity: 0.6;
}

.sorting {
  grid-column: 2/-1;
  grid-row: 1/2;
  display: flex;
  height: 70px;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.sorting h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0;
}

.sorting-list {
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 74px;
  position: relative;
  right: 107px;
}

.sorting::before {
  display: block;
  content: "";
  position: absolute;
  background-color: var(--basic-grey-light);
  height: 70px;
  left: -72px;
  width: 116%;
  z-index: -1;
}

.sorting-list li {
  margin-right: 30px;
}

.sorting-list a {
  opacity: 0.3;
}

.sorting-list a:not([href]) {
  opacity: 1;
}

.catalog {
  grid-column: 2/-1;
  grid-row: 2/-2;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 17.15px;
  letter-spacing: 0.1em;
  margin-bottom: 32px;
}

.filter ul {
  list-style: none;
  line-height: 19.07px;
  font-size: 14px;
}

.filter-input-checkbox:hover {
  opacity: 0.6;;
}

.filter-input-radio:hover {
  opacity: 0.6;;
}

.filters{
  background-color: var(--basic-grey-light);
}

.show-button {
  z-index: 1;
  margin-top: 23px;
  margin-left: -12px;
}

.sorting-list {
  list-style: none;
  line-height: 19.07px;
  font-size: 14px;
}

.direction-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.direction-item-up {
  margin-right: 16px;
}

.direction-item-up path:hover,
.direction-item-down path:hover {
  fill: var(--basic-black);
  opacity: 0.4;
}

.direction-item-up path:active,
.direction-item-down path:active {
  fill: var(--basic-black);
  opacity: 1;
}

/* Catalog */

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 0;
  margin-top: 69px;
  margin-bottom: 22px;
}

.catalog-item:nth-child(even) {
  padding-right: -30px;
}

.catalog-list img {
  width: 360px;
  height: 380px;
}

.catalog-list a {
  order: 1;
}

.catalog-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 270px;
  margin-top: 25px;
}

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.catalog-item p {
  margin: 0;
}

.add-to-cart-button {
  position: absolute;
  bottom: 260px;
  left: 68px;
  z-index: 1;
  display: none;
}

.compare-button {
  cursor: pointer;
  position: absolute;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  bottom: 215px;
  left: 96px;
  z-index: 1;
  display: none;
}

.catalog-item:hover img {
  opacity: 0.7;
}

.catalog-item:hover button {
  display: block;
}

.new-item a::before {
  display: block;
  content: "";
  position: absolute;
  width: 62px;
  height: 62px;
  background-image: url("../img/icon-new.svg");
  background-repeat: no-repeat;
  right: 28px;
  top: 28px;
}

.price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: 0.05em;
  order: 2;
  padding-top: 30px;
  padding-right: 0;
}

.pages {
  background-color: var(--basic-grey-light);
  grid-column: 2/-1;
  grid-row: 3/-1;
  display: flex;
  height: 70px;
  text-align: center;
  align-self: center;
  justify-content: space-between;
}

.pages-list {
  list-style: none;
  display: flex;
  width: 85px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin: 25px 0;
}

.pages-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.pages-list a:hover {
  opacity: 0.6;
}

.pages-list a:not([href]) {
  opacity: 1;
}

.pages-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19.6px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.forward-button {
  padding-right: 30px;
  padding-left: 24px;
}

.back-button {
  padding-right: 30px;
  padding-left: 30px;
}

.forward-button:active,
.back-button:active {
  color: #989898;
}

.forward-button:hover,
.back-button:hover {
  background-color: #d9d9d9;
}

.pages-button:disabled:hover,
.pages-button:disabled:active {
  color: var(--basic-black);
  background-color: transparent;
}
